.left-section
{
    background-color: #2e2e2e;
    height: 969px;
    width: 20%;
}

.top-link
{
    font-family: 'Cormorant Garamond', serif;
    font-size: clamp(12px, 1.5vw, 30px);
    text-align: center;
    padding: 35px;
    display: block;
    color: #e3e3e3;
}

.top-link:hover
{
    text-decoration: none;
    color:rebeccapurple;
}

.guitar
{
    max-height: 100%;
    max-width: 100%;
    width: 200px; 
    height: 200px;
    text-align: center;
}

.guitar-container
{
    text-align: center;
    width: 100%;
    height: 200px;
}