#title
{
    background-color: #ff4c68;
}

h1
{
    margin: 15% 3% 3%;
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2
{
    padding-top: 6%;
    text-align: center;
    font-size: 2.5rem;
}

h3
{
    text-align: center;
}

h4
{
    font-size: 35px;
    padding-bottom: 3%;
}

h1, h2, h3
{
    font-family: Montserrat, sans-serif;
}

.card
{
    margin: 3% 3%;
    text-align: center;
}

a
{
    text-decoration: none;
    color: none;
}

.icon 
{
    color: #ef8172;
    padding: 0 0 20px 0;
}
.icon:hover{color: #ff4c68}

.col-md-4
{
    text-align: center;  
}

.navbar-brand
{
    font-family: Ubuntu;
    font-size: 2.5rem;
}

.nav-item
{
    padding: 0 20px;
}

.nav-link
{
    font-size: 1.2rem;
}

.col-spacing
{
    margin: 15% auto;
}

#dog
{
    max-width: 55%;
    transform: rotateZ(25deg);
}

#features
{
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#testimonials
{   
    text-align: center;
    background-color: #ef8172;
    padding: 3% 13%;
}

#press
{
    text-align: center;
    background-color: #ef8172;
}

#pfp
{
    max-width: 15%;
    border-radius: 50%;
    margin: 10% 3%;

}

.carousel-item
{
    padding: 5% 15%;
}

.testimonial-image
{
    max-width: 15%;
    margin: 3% 2%;
}

button
{
    margin: 3%;
}

.container1
{
    max-width: 1300px;
}
